parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - var
        - vendor
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        - '#Access to an undefined property Sabre\\VObject\\#'
        - '#Call to an undefined method Sabre\\VObject\\#'

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
